* {
	border: none;
	border-radius: 10px;
        font-family: "Iosevka" ;
	font-size: 15px;
	min-height: 20px;
        transition: none;
}

#window, #workspaces, #mode, #network, #pulseaudio, #battery, #backlight, #clock, #memory, #cpu, #temperature, #disk, #tray, #custom-updates, #custom-weather, #custom-keyboard-layout {
	margin-bottom: 12px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 100px;
        border: 2px solid #00c2c0;
	color: #ffffff;
        background: #161320;
}

#workspaces, #battery, #battery.charging, #battery.plugged, #battery.critical:not(.charging), #backlight, #clock, #memory, #cpu, #temperature, #disk, #custom-weather, #custom-wallpaper, #custom-updates, #custom-media, #custom-layout {
}

window#waybar {
	background: transparent;
        opacity: 0.9;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-bottom: 12px;
	padding: 0 10px 0 10px;
        border-style: hidden;
	background: transparent;
}
#workspaces {
	font-size: 4px;
	border-radius: 100px;
	background: #161320;
        border: 1px solid #ffffff;
}

#workspaces button {
	color: #ffffff;
	background: #161320;
	border-radius: 100px;
        border: 2px solid #161320;
        padding: 8px 20px;
        margin: 5px 0;
}

#workspaces button.focused {
        color: #161320;
        background-color: #00c2c0;
        border: 2px solid #ffffff;
}

#workspaces button:hover {
        box-shadow: inherit;
        text-shadow: inherit;
        color: #ffffff;
        border-color: #ffffff;
        color: #ffffff;
}

#workspaces button.focused:hover {
    color: #ffffff;
}



#mode {
}

#network {
}

#pulseaudio {
}

#battery {
}

#battery.charging, #battery.plugged {
}

#battery.critical:not(.charging) {
        animation-name: blink;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}

@keyframes blink {
    to {
    }
}

#backlight {
}

#clock {
}

#memory {
}

#cpu {
}

#temperature {
}

#temperature.critical {
        color: #bf616a;
	background: #8fbcbb;
}

#disk {
}

#tray {
}

#custom-weather {
}

#custom-launcher {
	font-size: 24px;
	margin: 0 0 8px 12px;
	padding-left: 14px;
	padding-right: 6px;
        color: #00c2c0;
        background: #161320;
        border-radius: 100px;
        border: 2px solid #00c2c0;
}

#custom-power {
	font-size: 20px;
	margin-bottom: 12px;
        margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	background: #161320;
	color: #ffffff;
        border-radius: 100px;
        border: 2px solid #00c2c0;
}

#custom-wallpaper {
	background: #161320;
	color: #ffffff;
}

#custom-updates {
	background: #161320;
	color: #ffffff;
}

#custom-media {
	background: #161320;
	color: #ffffff;
}

#custom-keyboard-layout {
	background: #161320;
	color: #ffffff;
}
